<br>
<form action="/random/results">
  <label for="min">Minimum</label>
  <input id="min" type="text" placeholder="E.g. 1.5" name="user_min"><br>

  <label for="max">Maximum</label>
  <input id="max" type="text" placeholder="E.g. 4.5" name="user_max"><br>

  <button>Pick random number</button>
