<br>
<form action="/square/results">
  <label for="horse">Enter a number</label><br>
  <input id="horse" type="text" placeholder="Enter a number" name="number"><br>

  <button>Calculate square</button>

</form>
